.chat {
    min-height: 100vh;
    background: radial-gradient(ellipse at center, white, var(--green-blue), var(--persian));
    display: grid;
    place-items: center;
}

.chat-ctn {
    width: 95%;
    height: 75vh;
    max-width: 75vw;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}